/* 页面背景渐变效果 */
.App {
  background: linear-gradient(to bottom, #ff00cc, #3333ff);
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* 页面标题样式 */
h1 {
  position: absolute;
  top: 300px;
  left: 35%;
  font-size: 48px;
  color:ghostwhite;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 页面内容样式 */
p {
  position: absolute;
  top: 425px;
  left: 35%;
  font-family: SuXin-cn;
  font-size: 32px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p1 {
  position: absolute;
  top: 525px;
  left: 50%;
  font-family: SuXin-cn;
  font-size: 32px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.btn:hover {
  background-color: #ff6600;
}


.login-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.login-btn {
  background-color: #e01862;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.user_avatar{
  width: 40px;
  height: 40px;
}
.account-label{
  font-size: 25px;
}

.gothic-font {
  font-family: 'Gothic', sans-serif;
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-modal-content {
  max-width: 400px;
  padding: 50px;
  background-color: rgb(248, 247, 248);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(59, 55, 55, 0.3);
}


.login-modal-content form {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 35px;
}
.login-form {
  width: 300px;
}

.login-form input{
  margin-bottom: 25px;
  height: 40px;
  background-color: rgba(250, 250, 250, 0.96);
  border-color: #999999;
  border-radius: 5px;
  border-width: 1px;
}

.login-modal-content button[type='submit'] {
  padding: 10px 45px;
  background-color: #bd4974;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-modal-content button[type='submit']:hover {
  background-color: #e01862;
}


.login-modal-content button.close-btn {
  padding: 5px 10px;
  background-color: #bd4974;
  color: #fff;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.login-modal-content button.close-btn:hover {
  background-color: #999;
}

.login-tabs {
  display:flex
}

.login_tab {
  padding: 10px 30px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login_tab.active {
  background-color: #e01862;
}

.magic-circle {
  width: 400px;
  height: 400px;
  background-image: url("magic_circle.png");
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

}

@keyframes magic-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
    opacity: 0;
  }
}


.magic-circle.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  animation: magic-animation 20s infinite;
}

.search-bar {
    position: absolute;
    top: 15px;
    right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 100px;
}

.menu-container {
  display: flex;
  position: absolute;
  top: 50px;
  left: 300px;
}

.menu {
  position: relative;
}

.menu-btn {
  background-color: rgba(0, 123, 255, 0.01);
  color: #fff;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu:hover .dropdown-content {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 820px;
  right: 400px;
  width: 300px;
  padding: 0 20px;
}


.tab {
  position: relative;
}

.tab-content {
  padding: 1px;
  color: #e8d3d3;
  font-size: 25px;
  font-family: SuXin-cn;
}

.glass-effect {
  /* 添加你的分支玻璃弹窗样式 */
  /* 这里只是一个示例样式 */
  background-color: #bd4974;
  border: 1px solid #c79696;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 0;
  right: -200px;
  width: 200px;
  padding: 10px;
}

.tab:hover .glass-effect {
  display: block;
}
